* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: rgb(249, 249, 255);
    min-height: 100vh;
}

.center {
    text-align: center;
    justify-self: center;
}

.txt-organe {
    color: orange;
}